* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6fa;
}

/* ===========================
   NAVBAR
=========================== */

.navbar {
  background: #0B1F4D;
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 12px rgba(0,0,0,.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoMarca {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoNavbar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background: black;
  padding: 4px;
}

.logoMarca h2 {
  color: #FFC107;
  font-size: 28px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}

.menu a:hover {
  color: #FFC107;
}

/* ===========================
   HERO
=========================== */

.hero {
  padding: 60px 20px;
  text-align: center;
}

.logoPrincipal {
  display: none;
}

.hero h1 {
  color: #0B1F4D;
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  color: #666;
  font-size: 20px;
}

/* ===========================
   PRODUCTOS
=========================== */

.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.cardProducto {
  width: 260px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
  transition: .3s;
  text-align: center;
}

.cardProducto:hover {
  transform: translateY(-8px);
}

.imagenProducto {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.cardProducto h3 {
  color: #0B1F4D;
  margin-top: 15px;
}

.cardProducto p {
  margin: 12px;
}

.cardProducto button {
  margin-bottom: 20px;
  background: #FFC107;
  color: black;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.cardProducto button:hover {
  background: #e5ac00;
}

/* ===========================
   DETALLE
=========================== */

.detalleProducto {
  width: 450px;
  margin: 40px auto;
  background: white;
  padding: 35px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,.12);
}

.detalleProducto img {
  width: 260px;
  border-radius: 12px;
  margin: 20px 0;
}

.detalleProducto h2 {
  color: #0B1F4D;
}

.detalleProducto p {
  margin: 12px 0;
}

.detalleProducto button {
  margin-top: 20px;
  background: #FFC107;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.detalleProducto button:hover {
  background: #e5ac00;
}

.activeLink {
  color: #1e88e5;
  font-weight: bold;
  text-decoration: underline;
}